body{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://s2.ax1x.com/2019/04/29/E37aPP.jpg");
    background-attachment: fixed;
    background-size:cover;
    align-content: center;
}
